.main {
   width: 100%;
   flex-basis: 1 1 auto;
   padding: 20px;
   max-width: 1040px;
   margin: 0 auto;
}

.avatar {
   width: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 100%;
   overflow: hidden;
   margin: 0;
   margin-right: 5px;
   background: var(--secondary);
}

.image {
   width: 100%;
   height: 100%;
   object-position: center;

   &-cover {
      @extend .image;
      object-fit: cover;
   }

   &-contain {
      @extend .image;
      object-fit: contain;
   }
}

.commentBox {
   width: auto;
   display: flex;
   flex-wrap: wrap;
   padding: 0 10px 7px;
   position: relative;

   &__head {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      .author {
         font-size: toRem(15);
         color: var(--primary);
         font-weight: 600;
      }

      .time {
         font-size: toRem(10);
         color: var(--color-text);
      }
   }

   &__post {
      width: 100%;
      font-size: toRem(14);
      margin-bottom: 10px;
   }

   &__actions {
      display: flex;
      align-items: center;

      button {
         border: unset;
         padding: 0;
         font-size: toRem(12);
         margin-right: 15px;
         color: var(--primary);

         &:last-of-type {
            margin-right: 0;
         }
      }
   }

   &--response {
      width: 100%;
      flex-wrap: nowrap;

      @include mq(tab) {
         flex-wrap: wrap;
      }
      
      .commentBox__head {
         width: auto;
         min-width: 15%;
         margin: 0;
         padding-right: 15px;
         @include mq(tab) {
            margin-bottom: 10px;
         }
      }

      .commentBox__post {
         margin-bottom: 0;
      }
   }
}

.reactions {
   display: flex;
   align-items: center;

   &__tag {
      display: block;
      min-width: 12px;
      width: 12px;
      height: 12px;
      border: 1px solid var(--white);
      border-radius: 50%;
      background: red;
      position: relative;
      left: 8px;
      margin-left: -4px;
   }
}

.reactions-opts {
   position: absolute;
   bottom: 0;
   width: auto;
   font-size: 12px;
   background: var(--white);
   border: 1px solid var(--tertiary);
   box-shadow: 0 3px 5px var(--tertiary);
   border-radius: 25px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   transform: translateY(100px);
   opacity: 0;
   pointer-events: none;
   transition: all .4s ease;
   padding: 5px 15px;

   &.show {
      transform: translateY(-22px);
      opacity: 1;
      pointer-events: all;

   }

   span {
      cursor: pointer;
      font-size: 25px;
      margin: 5px;
      display: block;
   }
}

.counter {
   font-size: toRem(12);
   color: var(--color-text);
   font-weight: 600;
   line-height: 1;
}

.encanta {
   background: #007bff;
}

.sorprende {
   background: #dc3545;
}

.gusta {
   background: #ffc107;
}