.btn {
    display: inline-flex;
    padding: 7px 25px;
    outline: unset;
    border: unset;
    font-weight: 300;
    font-size: toRem(16);
    letter-spacing: .3px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid currentColor;
    @include transition;
    cursor: pointer;
    &--primary{
        background: var(--primary);
        color: var(--white);
        @include mq(hover){
            &:hover{
                background: var(--white);
                color: var(--primary);
            }
        }
    }
}