.cardBox {
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--tertiary);
    box-shadow: 0 0 2px rgba(#bcbcbc, .5);
    margin-bottom: 20px;
    border-radius: 2px;

    &__top {
        border-bottom: 1px solid var(--tertiary);
    }

    &__top,
    &__middle,
    &__bottom {
        width: 100%;
        padding: 7px;
    }

    &__middle {
        display: flex;
        .btn--primary {
            margin-left: auto;
        }
    }
    &__bottom{
        display: flex;
        align-items: flex-start;
        background: var(--secondary);
    }
    &--post{
        .cardBox__top{
            display: flex;
            align-items: flex-start;
        }
        .cardBox__bottom{
            padding: 15px;
        }
    }
}
.bg-secondary{
    background: var(--secondary);

}